<!DOCTYPE html>
<html lang="es">
<head>
    <title>Consulta de Mesa</title>
    <script src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <meta charset="UTF-8">
</head>
<body>
    <div class="container">
        <div class="section">
            <h1 style="font-size:5vh; margin: 10px;">¡Bienvenidos!</h1>
            <div class="form-container">
                <h4 style="margin: 0; font-size: 2vh;">Tu mesa te está esperando. ¿Podrías indicarnos tu RUT con guión? </h4>
                <div class="input-container">
                    <span style="font-size: 3vh;" class="material-symbols-outlined">person</span>
                    <input style="font-size: 2vh;" type="text" id="rut" placeholder="XX.XXX.XXX-K">
                </div>
                <button onclick="consultarMesa()">Consultar</button>
            </div>
            <div class="form-response">
                <p style="margin: 0;" id="resultado"></p>
            </div>
        </div>
    </div>
</body>
</html>